<div class="banner">

  <div>
    <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="">
    <h3>Player: <%= @user.username.upcase %></h3>
  </div>

  <br>

  <div id="games-list" style="box-shadow: -3px 3px 10px #363062; background-color:#E9D5CA;  border-radius: 5px; padding: 30px; display:flex; justify-content: space-around; width: 90vw; margin: 0 auto;">

    <div id="my-games" style="display: flex; flex-direction: column; align-items: center;">
      <h2>MY GAMES</h2>
      <% @user.games.each do |game|%>
        <div style="background-color: white; box-shadow: -3px 3px 3px #363062; border-radius: 3px; margin: 25px; width: 25vw; height: 150px; display: flex; align-content: space-around; flex-direction: column; align-items: center; padding: 5px 10px 0 0;">
          <h4><%= game.title %></h4>
          <p>Platform: <%= game.console %></p>
          <p>Daily rent price: R$<%= game.daily_rent %>,00</p>
          <% game.available = game.rents.empty? %>
          <p>Available? <%= game.available ? "YES" : "NO" %></p>
          <p><%= link_to "Edit game", edit_game_path(game), class: "btn-gradient" %></p>
          <p><%= link_to "Delete game", game_path(game), method: 'DELETE', data: { confirm: "Are you sure?" }, class: "btn-gradient" %></p>
        </div>
      <%end%>
      <%= link_to 'Add a game!', new_game_path, class: "btn-gradient", id: "btn-add-game" %>
    </div>

    <div id="rented-games" style="display: flex; flex-direction: column; align-items: center;">
      <h2>MY GAMES RENTED</h2>
      <% @user.games.each do |game|%>
        <% if !game.rents.empty? %>
          <div style="background-color: white; box-shadow: 0px 3px 3px #363062; border-radius: 3px; margin: 5px; width: 25vw; height: 150px; display: flex; flex-direction: column; align-items: center; padding: 5px 10px 0 0;">
            <h4><%= game.title %></h4>
            <p><%= "Renter ID: #{game.rents[0].user_id}" %></p>
            <p><%= "Renter Nickname: #{game.rents[0].user.username}" %></p>
            <div style="width: 380px; display: flex; justify-content: space-around; align-items: center;">
              <p>From: <%=  game.rents[0].start_date.to_s.split(" ")[0] %></p>
              <p>Until: <%=  game.rents[0].end_date.to_s.split(" ")[0] %></p>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>

    <div id="rented-games-by-me" style="display: flex; flex-direction: column; align-items: center;">
      <h2>GAMES I RENTED</h2>
      <% @rents.each do |rent|%>
        <div style="background-color: white; box-shadow: 3px 3px 3px #363062; border-radius: 3px; margin: 5px; width: 25vw; height: 150px; display: flex; flex-direction: column; align-items: center; padding: 5px 10px 0 0;">
          <h4><%=  rent.game.title%></h4>
          <p>Platform: <%=  rent.game.console%></p>
          <p>OWNER: <%=  rent.game.user.username%></p>
          <p>TOTAL: $ <%=  rent.price %></p>
          <div style="width: 380px; display: flex; justify-content: space-around; align-items: center;">
            <p>From: <%=  rent.start_date.to_s.split(" ")[0] %></p>
            <p>Until: <%=  rent.end_date.to_s.split(" ")[0] %></p>
          </div>
          <p><%= link_to "Cancel Rent", rent_path(rent), method: 'DELETE', data: { confirm: "Are you sure?" }, class: "btn-gradient" %></p>
        </div>
      <%end%>
    </div>

  </div>
</div>
