<h1>Hello, <%= @user.username %> !</h1>
<br>

<h2>OWN GAMES</h2>
<% @user.games.each do |game|%>
<div style="border: 1px solid black; border-radius: 3px; margin: 3px; width: 400px">
<p><%=  game.title%></p>
<p>Available? <%= game.available ? "YES" : "NO" %></p>


</div>
<%end%>

<br>
<h2>RENTS</h2>
<% @rents.each do |rent|%>
<div style="border: 1px solid black; border-radius: 3px; margin: 3px; width: 400px">
<p>TITLE: <%=  rent.game.title%></p>
<p>OWNER: <%=  rent.game.user.username%></p>
</div>
<%end%>
