<div id= "ubanner">

  <br>

  <img src="https://res.cloudinary.com/guijafrone/image/upload/v1654200908/MANI%20GAMES/rhydon_ifqsgl.jpg"
       alt="profile picture" style="border-radius: 100%">

  <br>
  <div class="upfp">

    <h2>Player: <%= @user.username.capitalize %></h2>
    <p>Email: <%= @user.email %></p>
  </div>

  <br>

  <!-- Box inside banner contining three boxes for cards -->
  <div class="ucontainer">
    <div class="utemplate">
      <!-- Container for the game cards -->
      <div id="my-games">
        <h3>MY GAMES  <%= link_to 'Add a game!', new_game_path, class: "ubtn-gradient" %></h3>
        <% @user.games.each do |game|%>

          <!-- cards for games -->
          <div class="ucard-trip">

            <!--Validation for Game Image-->
              <% if game.photo.key.nil? %>
                <%= image_tag("std-img.jpg", class:"user-page-game-img")  %>
                <!--<img src="https://cdn.shopify.com/s/files/1/2650/0192/products/2018-03-31_16.34.13_1200x1200.jpg?v=1522620678">-->
              <% else %>
                <%= cl_image_tag game.photo.key, class:"user-page-game-img", crop: :fill %>
              <% end %>
            <!--End of validation for game image-->

            <div class="ucard-trip-infos">
              <div>
                <h6><%= game.title %></h6>
                <h6><%= game.console %></h6>
              </div>
              <div>
                <% game.available = game.rents.empty? %>
                <h6>Rent/day: $<%= game.daily_rent %></p>
                <h6>Available: <%= game.available ? "YES" : "NO" %></h6>
              </div>
            </div>
            <%= link_to "Edit game", edit_game_path(game), class: "ubtn-gradient" %>
            <%= link_to "Delete game", game_path(game), method: 'DELETE', data: { confirm: "Are you sure?" }, class: "ubtn-gradient" %>
          </div>
        <%end%>
      </div>

      <!-- Container for the rent out cards -->
      <div id="rented-games">
        <h3>MY GAMES RENTED</h3>
        <% @user.games.each do |game|%>
          <% if !game.rents.empty? %>

            <!-- cards for rents out -->
            <div class="ucard-trip">

            <!--Validation for Game Image-->
              <% if game.photo.key.nil? %>
                <%= image_tag("std-img.jpg", class:"user-page-game-img")  %>
                <!--<img src="https://cdn.shopify.com/s/files/1/2650/0192/products/2018-03-31_16.34.13_1200x1200.jpg?v=1522620678">-->
              <% else %>
                <%= cl_image_tag game.photo.key, class:"user-page-game-img", crop: :fill %>
              <% end %>
            <!--End of validation for game image-->

              <div class="ucard-trip-infos">
                <div>
                  <h6><%= game.title %></h6>
                  <h6><%= "Renter ID: #{game.rents[0].user_id}" %></h6>
                  <h6><%= "Renter Nickname: #{game.rents[0].user.username.capitalize}" %></h6>
                </div>
                <div>
                  <h6 class="ucard-trip-pricing">From: <%=  game.rents[0].start_date.to_s.split(" ")[0] %></h6>
                  <h6 class="ucard-trip-pricing">Until: <%=  game.rents[0].end_date.to_s.split(" ")[0] %></h6>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>

      <!-- Container for the rent in cards -->
      <div id="rented-games-by-me">
        <h3>THE GAMES I RENTED</h3>
        <div id="my-ongoing-rentals">
          <h3>My Ongoing Rentals</h3>
          <% if @ongoing_rents.empty? %>
            <p>You're not renting any game at the moment</p>
          <%else%>
            <% @ongoing_rents.each do |rent|%>
              <!-- cards for rent out -->
              <div class="ucard-trip">
                <!--Validation for Game Image-->
                  <% if rent.game.photo.key.nil? %>
                    <%= image_tag("std-img.jpg", class:"user-page-game-img")  %>
                    <!--<img src="https://cdn.shopify.com/s/files/1/2650/0192/products/2018-03-31_16.34.13_1200x1200.jpg?v=1522620678">-->
                  <% else %>
                    <%= cl_image_tag rent.game.photo.key, class:"user-page-game-img", crop: :fill %>
                  <% end %>
                <!--End of validation for game image-->

                <div class="ucard-trip-infos">
                  <div>
                    <h6><%= rent.game.title %></h6>
                    <h6><%= rent.game.console %></h6>
                    <h6>Owner: <%=  rent.game.user.username.capitalize%></h6>
                  </div>
                  <div class="ucard-trip-pricing">
                    <h6>From: <%=  rent.start_date.to_s.split(" ")[0] %></h6>
                    <h6>Until: <%=  rent.end_date.to_s.split(" ")[0] %></h6>
                  </div>
                </div>
                <h6 style="text-align: center">TOTAL: $ <%=  rent.price %></h6>

                <p><%= link_to "Cancel Rent", rent_path(rent), method: 'DELETE', data: { confirm: "Are you sure?" }, class: "ubtn-gradient" %></p>

              </div>
            <% end %>
          <%end%>
        </div>

        <div id="my-future-rentals">
          <h3>My Future Rentals</h3>
          <% if (!@future_rents.empty?) %>
            <% @future_rents.each do |rent|%>
              <!-- cards for rent out -->
              <div class="ucard-trip">

                <!--Validation for Game Image-->
                  <% if rent.game.photo.key.nil? %>
                    <%= image_tag("std-img.jpg", class:"user-page-game-img")  %>
                    <!--<img src="https://cdn.shopify.com/s/files/1/2650/0192/products/2018-03-31_16.34.13_1200x1200.jpg?v=1522620678">-->
                  <% else %>
                    <%= cl_image_tag rent.game.photo.key, class:"user-page-game-img", crop: :fill %>
                  <% end %>
                <!--End of validation for game image-->

                <div class="ucard-trip-infos">
                  <div>
                    <h6><%= rent.game.title %></h6>
                    <h6><%= rent.game.console %></h6>
                    <h6>Owner: <%=  rent.game.user.username.capitalize%></h6>
                  </div>
                  <div class="ucard-trip-pricing">
                    <h6>From: <%=  rent.start_date.to_s.split(" ")[0] %></h6>
                    <h6>Until: <%=  rent.end_date.to_s.split(" ")[0] %></h6>
                  </div>
                </div>
                <h6 style="text-align: center">TOTAL: $ <%=  rent.price %></h6>

                <p><%= link_to "Cancel Rent", rent_path(rent), method: 'DELETE', data: { confirm: "Are you sure?" }, class: "ubtn-gradient" %></p>
              </div>
            <% end %>

          <% else %>
            <p>You don't have any games planned </p>
          <% end %>

        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
