<%= simple_form_for(array) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="height: 130px; display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">

    <h3>Renting dates:</h3>

    <%= f.text_field :start_date, placeholder: "Start date", data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now,
      flatpickr_allow_input: true
    }, required: true %>

    <%= f.text_field :end_date, placeholder: "End date", data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now,
      flatpickr_allow_input: true
    }, required: true %>
  </div>

  <%= f.button :submit, class:"rent-page-create-button" %>

<% end %>
