<%= simple_form_for(array) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="height: 130px; display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start;">

    <h5>Enter the desired renting dates:</h5>

    <%= f.text_field :start_date, placeholder: "Start date", data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    } %>

    <%= f.text_field :end_date, placeholder: "End date", data: {
      controller: "flatpickr",
      flatpickr_date_format: "Y-m-d",
      flatpickr_min_date: Time.zone.now
    } %>
  </div>

  <div class="form-actions" style="border: 1px solid black; align-text: center; border-radius: 5px; width: 130px; background: #b4dfc0; margin: 10px 0px;">
    <%= f.button :submit %>
  </div>
<% end %>
