<div id="rent_form_box">

  <div id="upper-rent-container">
        <!--Validation to check if a photo was uploaded before showing it-->
    <% if @game.photo.key.nil? %>
    <%= image_tag("std-img.jpg", class:"rent-page-game-img")  %>
    <!--<img class="rent-page-game-img" src="https://images.tcdn.com.br/img/img_prod/649042/mario_kart_double_dash_usado_nintendo_gamecube_4861_1_20200505182319.jpg">-->
    <% else %>
    <%= cl_image_tag @game.photo.key, class:"rent-page-game-img", crop: :fill %>
    <% end %>

    <p id="game-title"><%= @game.title %></p id="game-title">
    <ul id="game-description-list">
      <li>Title: <%= @game.title %></li>
      <li>Platform: <%= @game.console %></li>
      <li>Genre: <%= @game.genre.nil? ? "Not informed" : @game.genre %></li>
      <li>Released year: <%= @game.released_year %></li>
      <li>Brand: <%= @game.brand %></li>
      <li>Owner: <%= @game.user.username %></li>
      <li>Daily rent price: R$<%= @game.daily_rent %>,00</li>
      <li>Minimum rent period: <%= @game.min_rent_period %> days </li>
    </ul>
  </div>

  <div class="bottom-rent-container" style="display:flex; justify-content: space-around; align-items:center">

    <div class="date-pick-box">
      <!--simple form rendering -->
      <%= render 'form', array: [@game, @rent] %>
      <%= button_to 'Back', games_path, :method => :get, class:"rent-page-back-button" %>
    </div>

    <div style="width: 30%">
      <p>Game location: <%= @game.address %></p>
      <!--geocoding -->
      <div id="rent-game-page-map"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div id="msg-owner"">
      <p>Write a msg to <%= @game.user.username.capitalize %>:</p>
      <textarea id="msg-owner-txt-box"></textarea>
      <%# <input type="text", style="height: 200px"> %>
      <input value="Send" type="button" class="btn-gradient">
    </div>

  </div>
</div>
