<div id="form_box" style="background-color: hsl(0,4%,65%); margin: 5vh 30vw 5vh 2vw; border: 1px solid black; border-radius: 5px; padding: 10px;">

  <div style="height: 300px;color: black; background-color: hsl(34,30%,91%); border-radius: 5px; display: flex; align-items: center; justify-content: space-around; margin: 0 0 15px 0; border: 3px solid hsl(0,2%,26%)">
    <img style="border: 1px solid black; width: 200px; border-radius: 5px" src="https://images.tcdn.com.br/img/img_prod/649042/mario_kart_double_dash_usado_nintendo_gamecube_4861_1_20200505182319.jpg">
    <h1 style="text-align:center; color: black;"><%= @game.title %></h1>
    <ul style="margin: 0 ; ">
      <li>Game title: <%= @game.title %></li>
      <li>Genre: <%= @game.genre %></li>
      <li>Released year: <%= @game.released_year %></li>
      <li>Platform: <%= @game.console %></li>
      <li>Brand: <%= @game.brand %></li>
      <li>Owner: <%= @game.user.username %></li>
      <li>Daily rent price: R$<%= @game.daily_rent %>,00</li>
      <li>Minimum rent period: <%= @game.min_rent_period %> days </li>
    </ul>
  </div>

  <div class="bottom-rent-container" style="display:flex; justify-content: space-around; align-items:center">

    <div class="date-pick-box">
      <!--simple form rendering -->
      <%= render 'form', array: [@game, @rent] %>
      <%= button_to 'Back', games_path, :method => :get, class:"rent-page-back-button" %>
    </div>

    <!--Validation to check if a photo was uploaded before showing it-->
    <% unless @game.photo.key.nil? %>
    <%= cl_image_tag @game.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <!--geocoding -->
    <div id="rent-game-page-map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>
