<!-- app/views/articles/index.html.erb -->
<!--
<%= cl_image_tag("https://res.cloudinary.com/manigames/image/upload/v1654205608/q44ouxm7ytnp8ki1usb6.jpg",
      width: 400, height: 300, crop: :fill) %>
-->
<!-- for face detection -->
<!--
<%= cl_image_tag("https://res.cloudinary.com/manigames/image/upload/c_thumb,w_200,g_face/v1654205995/vynxwlja68qkzjly4hhu.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
-->
<div style="display: flex; justify-content:space-between; align-items:center; margin: 20px auto; width: 80vw;">

  <h1><%= link_to "Game List", games_path, style:"color:black"%></h1>

  <div>
    <%= form_tag games_path, id: "search-bar", method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a game" %>
  </div>

  <div>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>

<% end %>

</div>

<% @games.each do |game| %>
  <div class="card-trip">
    <img src="https://cdn.shopify.com/s/files/1/2650/0192/products/2018-03-31_16.34.13_1200x1200.jpg?v=1522620678">
    <div class="card-trip-infos">
      <h2><%= game.title %></h2>
      <div>
        <h5>Platform: <%= game.console %></h5>
        <h5>Genre: <%= game.genre %></h5>
        <h5>Brand: <%= game.brand %></h5>
        <h5>Location: <%= game.address %></h5>
        <h5>Owner: <%= game.user.username %></h5>
      </div>
    </div>

    <div id="card-price-rent-btn">
      <h2 class="card-trip-pricing">Daily rent price: R$<%= game.daily_rent %>,00</h2>
      <p><%= link_to "Rent game", new_game_rent_path(game), class: "btn-gradient btn-rent-game" %></p>
    </div>
  </div>
<% end %>

<!-- link_to image_tag("#{game.gamecover}"), game_path(game), class: "card-trip-img" -->
