
<div id="game-list">

  <div id ="games-search">
    <div style="display: flex; justify-content:space-between; align-items:center; margin: 20px auto; width: 80vw;">
      <h1>Game List</h1>
      <div>
        <%= form_tag games_path, id: "search-bar", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Seach for a game here" %>
      </div>
      <div>
        <%= submit_tag "Search", class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>

<% @games.each do |game| %>
  <% next if !current_user.nil? && game.user_id == current_user.id %>
    <div class="game-card-trip <%= "game-card-not-available" unless game.available %>">

      <!--Validation for Game Image-->
        <% if game.photo.key.nil? %>
          <%= image_tag("std-img.jpg", class:"index-page-game-img")  %>
        <% else %>
          <%= cl_image_tag game.photo.key, class:"index-page-game-img", crop: :fill %>
        <% end %>
      <!--End of validation for game image-->

      <div class="game-card-trip-infos">
        <p><%= game.title %></p>
        <div>
          <p>Platform: <%= game.console %></p>
          <p>Genre: <%= game.genre %></p>
          <p>Brand: <%= game.brand %></p>
          <p>Location: <%= game.address %></p>
        </div>
      </div>

      <div id="card-price-rent-btn">
        <div style="display: flex; flex-direction: column; align-items: flex-end;">
          <p>Daily rent: R$ <%= game.daily_rent %>,00</p>
          <p>Owner: <%= game.user.username %></p>
          <p class="game-card-not-available-text"><%= "Currently not available!" unless game.available %></p>
        </div>
        <a><%= link_to "Rent game", new_game_rent_path(game), class: "btn-gradient btn-rent-game" %></a>
      </div>

    </div>
<% end %>

</div>
