 <div id="games-new">
 <br>
  <h1>Let's Add a cool Game!</h1>

  <div id="add-game">
    <%= simple_form_for @game do |f| %>
      <%= f.input :title, label:"Game Title" %>
      <% brands =  "Sony, CAPCOM, Nintendo, SEGA, EA, Square Enix, Naughty Dog, etc" %>
      <%= f.input :brand, placeholder: brands %>
      <% consoles = "PSONE, SNES, Xbox, GBA, PS4, Atari, etc" %>
      <%= f.input :console, placeholder: consoles %>
      <!-- <%= f.input :gamecover, label: "Game Cover Image", placeholder: "Insert a gamecover url" %> -->
      <%= f.input :daily_rent, label:"Daily Rent Price in R$", placeholder: "How much would you charge for 1 day of rent" %>
      <%= f.input :min_rent_period, label: "Minimum Rent Period", placeholder: "No. of days" %>
      <%= f.input :released_year, placeholder: "AAAA" %>
      <%= f.input :address, placeholder: "Input the game address" %>

      <%= f.button :submit, class: "btn btn-gradient" %>
    <% end %>
  <br>

      <%= button_to "Go back to available games", games_path, method: :get  %>
  <br>
  </div>
</div>
